body {
    font-family: '';
    background-color: lightgoldenrodyellow;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1 {
    text-align: center;
}

form {
    background-color: white;
    margin: 0 auto;
    width: 50%;
    padding: 1.5em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

fieldset {
    border: 1px solid gray;
}

legend {
    font-weight: 600;
    font-size:20px;
}
